<div id="center" class="text-center frame darkModeAuto">
  <h3>Demande de congés</h3>

  <form [formGroup]="congesRequestForm" (ngSubmit)="sendCongeRequest()">
    <!-- <p>
      <mat-form-field>
        <mat-label>Date début :</mat-label>
        <input matInput [matDatepicker]="startDatePicker">
        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
      </mat-form-field>
    </p> -->

    <p>
      <mat-form-field>
        <!-- <mat-label>Date fin :</mat-label>
        <input matInput [matDatepicker]="endDataPicker">
        <mat-datepicker-toggle matSuffix [for]="endDataPicker"></mat-datepicker-toggle>
        <mat-datepicker #endDataPicker></mat-datepicker> -->

        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate formControlName="startDate" placeholder="Date début">
          <input matEndDate formControlName="endDate" placeholder="Date fin">
        </mat-date-range-input>

        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </p>

    <button mat-raised-button type="button" color="warn" (click)="back()" style="margin-right: 10px;">Retour</button>
    <button mat-raised-button type="submit" color="info">Envoyer la demande de congé</button>
  </form>
</div>
