<div class="frame darkModeAuto">
  <h3 class="text-center">Conditions générales d'utilisation</h3>

  <div id="cgu-content">
    <h3>Conditions de Dépôt de Fichiers sur le Cloud Informatique de Tuxit</h3>
    <p>Les présentes conditions de dépôt de fichiers (ci-après désignées "les Conditions") régissent l'utilisation du
      service de stockage de fichiers sur le cloud informatique fourni par Tuxit (ci-après désigné "le Fournisseur") à
      ses clients (ci-après désignés "le Client" ou "les Clients"). En utilisant ce service, le Client accepte les
      termes et conditions énoncés ci-dessous.</p>

    <p>1. Description du Service<br>
      Le service de stockage de fichiers sur le cloud informatique de Tuxit (ci-après désigné "le Service") permet au
      Client de télécharger, stocker et gérer des fichiers numériques via une plateforme en ligne fournie par le
      Fournisseur.</p>

    <p>2. Dépôt de Fichiers Légaux<br>
      2.1. Le Client s'engage à ne télécharger et à ne stocker que des fichiers légaux pour lesquels il détient les
      droits nécessaires. Le Fournisseur se réserve le droit de retirer tout contenu illégal ou en violation des droits
      de tiers sans préavis.</p>

    <p>2.2. Le Client est responsable de l'obtention des autorisations et des licences requises pour tout contenu soumis
      au Service.</p>

    <p>3. Sécurité des Fichiers<br>
      3.1. Le Fournisseur mettra en œuvre des mesures de sécurité raisonnables pour protéger les fichiers stockés sur le
      Service. Cependant, le Client reconnaît que la sécurité absolue n'est pas garantie, et il est de sa responsabilité
      de prendre des mesures de sécurité appropriées pour protéger ses fichiers.</p>

    <p>4. Absence de Contenu Malveillant<br>
      4.1. Le Client s'engage à ne pas télécharger, stocker ou partager de fichiers contenant des virus, des logiciels
      malveillants ou tout autre élément nuisible pour le Service ou les autres utilisateurs.</p>

    <p>5. Responsabilité du Contenu<br>
      5.1. Le Client est seul responsable du contenu de ses fichiers stockés sur le Service, ainsi que des conséquences
      de leur téléchargement et de leur partage.</p>

    <p>6. Résiliation<br>
      6.1. Le Fournisseur se réserve le droit de résilier ou de suspendre l'accès au Service en cas de violation grave
      des présentes Conditions.</p>

    <p>7. Droits de Propriété Intellectuelle<br>
      7.1. Le Client conserve tous les droits de propriété intellectuelle sur les fichiers qu'il télécharge sur le
      Service. Le Fournisseur n'acquiert aucun droit de propriété sur ces fichiers.</p>

    <p>8. Confidentialité<br>
      8.1. Le Fournisseur s'engage à respecter la confidentialité des fichiers stockés par le Client sur le Service,
      conformément à sa politique de confidentialité.</p>

    <p>9. Modification des Conditions<br>
      9.1. Le Fournisseur se réserve le droit de modifier ces Conditions moyennant un préavis raisonnable au Client.</p>

    <p>10. Droit Applicable et Juridiction<br>
      10.1. Ces Conditions sont régies par la législation en vigueur dans la juridiction du Fournisseur, et tout litige
      relatif à ces Conditions sera soumis à la juridiction exclusive des tribunaux compétents de cette juridiction.</p>

    <p>En utilisant le Service, le Client reconnaît avoir lu, compris et accepté toutes les modalités et conditions
      énoncées dans ce document.</p>
  </div>
</div>
