<div id="center" class="auth-form frame darkModeAuto">
  <h2>Demande de réinitialisation de mot de passe</h2>

  <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
    <div class="auth-form-inputs auth-form-item">
      <!-- Email utilisateur -->
      <div class="auth-form-input">
        <mat-form-field>
          <mat-icon aria-hidden="true" matIconPrefix>account_circle</mat-icon>
          <input matInput type="email" placeholder="Adresse email" formControlName="email" required />
        </mat-form-field>
      </div>

      <div class="auth-form-item">
        <p>
          <button mat-raised-button color="primary" type="submit"
            [disabled]="!resetPasswordForm.valid">Envoyer</button>
        </p>
      </div>
    </div>
  </form>
</div>
