.checkout {
  margin-top: 40px;
}

.form-item-group {
  display: flex;
  gap: 10px;
  justify-content: center;
}

#paypal-container {
  width: 33vw;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}

:host-context(.darkMode) {
  .checkout {
    color: white;
  }
}

// Disable header navigation
::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}
