<div class="text-center frame darkModeAuto">
  <nav class="breadcrumb">
    <ol>
      <li><mat-icon>home</mat-icon>Accueil</li>
      <li><mat-icon>arrow_right</mat-icon></li>
      <li><mat-icon>list</mat-icon>Fichiers</li>
    </ol>
  </nav>

  <div>
    <h3>Vos fichiers</h3>

    <table mat-table [dataSource]="filesDataSource" class="table">
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef style="width: 120px;">
          <!-- Checkbox de selection de toutes les ligne -->
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
          <!-- Bouton 3 points affichage actions -->
          <button mat-icon-button *ngIf="selection.hasValue()" (click)="showActions(selection)"
            [matMenuTriggerFor]="actionsMenu" style="vertical-align: middle;">
            <mat-icon>more_horiz</mat-icon>
          </button>
          <mat-menu #actionsMenu="matMenu">
            <button mat-menu-item (click)="downloadFiles(selection)">
              <mat-icon matBadge="15" matBadgeColor="accent" matBadgeSize="small">download</mat-icon>Télécharger
            </button>
            <button mat-menu-item>
              <mat-icon matBadge="15" matBadgeColor="warn" matBadgeSize="small">delete</mat-icon>Supprimer
            </button>
          </mat-menu>
        </th>
        <td mat-cell *matCellDef="let row">
          <!-- Checkbox de selection de la ligne -->
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Nom -->
      <ng-container matColumnDef="label">
        <th mat-header-cell *matHeaderCellDef>Nom</th>
        <td mat-cell *matCellDef="let file">{{ file.name }}</td>
        <!-- <td mat-footer-cell *matFooterCellDef>restant</td> -->
      </ng-container>

      <!-- Date de création -->
      <ng-container matColumnDef="credate">
        <th mat-header-cell *matHeaderCellDef>Date de création</th>
        <td mat-cell *matCellDef="let file">{{ file.creationDate | date: 'short' }}</td>
        <!-- <td mat-footer-cell *matFooterCellDef>restant</td> -->
      </ng-container>

      <!-- Date de modification -->
      <ng-container matColumnDef="editdate">
        <th mat-header-cell *matHeaderCellDef>Date de modification</th>
        <td mat-cell *matCellDef="let file">{{ file.modificationDate | date: 'medium' }}</td>
      </ng-container>

      <!-- Download button -->
      <ng-container matColumnDef="btn_download" style="max-width: 65px;width: 65px;">
        <th mat-header-cell *matHeaderCellDef style="width: 0;"></th>
        <td mat-cell *matCellDef="let file">
          <button mat-mini-fab color="primary" (click)="downloadFile(file)">
            <mat-icon>download</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Delete button -->
      <ng-container matColumnDef="btn_del" style="max-width: 65px;width: 65px;">
        <th mat-header-cell *matHeaderCellDef style="width: 0;"></th>
        <td mat-cell *matCellDef="let file">
          <button mat-mini-fab color="warn" (click)="deleteFile(file)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <!-- <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr> -->
    </table>

  </div>

  <!-- <mat-divider style="margin: 15px 0;"></mat-divider> -->

  <!-- USER table -->
  <!-- <div style="position: relative;" *ngIf="!isAdmin()">

    <mat-table [dataSource]="filesRequestsNotValidated" class="table">

      <!-- Date création -->
  <!--    <ng-container matColumnDef="creationDate">
        <mat-header-cell *matHeaderCellDef>Date création</mat-header-cell>
        <mat-cell *matCellDef="let file">{{ file.creationDate | date:'dd/MM/YYYY HH:mm:ss' }}</mat-cell>
      </ng-container>

      <!-- Bouton suppression ligne -->
  <!--    <ng-container matColumnDef="btn_del">
        <mat-header-cell *matHeaderCellDef style="max-width: 65px;width: 65px;"></mat-header-cell>
        <mat-cell *matCellDef="let file" style="max-width: 65px;width: 65px;">
          <!-- Line id -->
  <!-- <span style="display: none;" #fileId>{{ file.id }}</span> -->
  <!-- Delete line button -->
  <!--        <button mat-mini-fab color="warn" (click)="deleteFile(file.id)"
            *ngIf="!file.validated && !file.validator">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columnsFilesRequestsNotValidated"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnsFilesRequestsNotValidated"></mat-row>
    </mat-table>

    <!-- No row label -->
  <!--  <div style="margin-top: 10px;" *ngIf="!filesRequestsNotValidated.data.length">
      <div [ngSwitch]="filterNotValidated">
        <div *ngSwitchCase="'inprogress'">Aucune demande de congés en cours</div>
        <div *ngSwitchCase="'validated'">Aucune demande de congés validée</div>
        <div *ngSwitchCase="'invalidated'">Aucune demande de congés refusée</div>
        <div *ngSwitchDefault>Aucune demande de congés</div>
      </div>
    </div>
    <mat-divider style="margin-top: 10px;" *ngIf="!filesRequestsNotValidated.data.length"></mat-divider>

    <!-- Paginator -->
  <!--  <mat-paginator [pageSizeOptions]="[5, 10, 20]" #paginator showFirstLastButtons></mat-paginator>
  </div> -->

</div>
