<div id="center" class="auth-form frame darkModeAuto">
  <h2>S'enregistrer</h2>

  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="auth-form-inputs auth-form-item">
      <!-- Nom d'utilisateur -->
      <div class="auth-form-input">
        <mat-icon aria-hidden="true">account_circle</mat-icon>
        <mat-form-field>
          <input matInput type="text" placeholder="Nom d'utilisateur" formControlName="username" required />
        </mat-form-field>
      </div>

      <!-- Mot de passe -->
      <div class="auth-form-input">
        <mat-icon aria-hidden="true">key</mat-icon>
        <mat-form-field>
          <mat-label>Mot de passe</mat-label>
          <input matInput type="password" formControlName="password" required />
        </mat-form-field>
      </div>

      <!-- Confirmer mot de passe -->
      <div class="auth-form-input">
        <mat-icon aria-hidden="true">void</mat-icon>
        <mat-form-field>
          <mat-label>Confirmer mot de passe</mat-label>
          <input matInput type="password" formControlName="confirmPassword" required />
        </mat-form-field>
      </div>

    </div>

    <div class="auth-form-item">
      <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.valid">S'enregistrer</button>
    </div>
  </form>
</div>
