
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$cloud-primary: mat.define-palette(mat.$blue-palette);//, 500
$cloud-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$cloud-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$cloud-theme: mat.define-light-theme((
  color: (
    primary: $cloud-primary,
    accent: $cloud-accent,
    warn: $cloud-warn,
  )
));

$primary: map-get($cloud-primary, 'default');

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($cloud-theme);


:root {
  --primary-color: #{$primary};
}


// DARK theme
$cloud-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $cloud-primary,
      accent: $cloud-accent,
      warn: $cloud-warn,
    ),
  )
);

.darkMode {
  @include mat.all-component-colors($cloud-dark-theme);
}
//


// html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #f3f3f3; position: relative; height: 100vh; }

body.darkMode {
  background-color: $primary;//#383838;

  div.darkModeAuto {
    background-color: #2a2a2a;//#2a2a2a !important;
    border-color: rgb(28 28 28 / 74%) !important;//#1a1a1a !important;
    color: white;
  }
}


* {
  box-sizing: border-box;
}

#center {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.center {
  margin: auto;
  text-align: center;
}

.text-center {
  text-align: center;
}

.frame {
  background-color: #fbfbfb;
  border-radius: 2px;
  -webkit-box-shadow: -1px 4px 20px -7px rgb(145 145 145);
  box-shadow: -1px 4px 20px -7px rgb(145 145 145);
}

.snack-bar-container {
  margin-bottom: 50px !important;
  margin-top: 60px !important;
}

.warn {
  color: #f44336 !important;
}
