<div class="auth-form frame darkModeAuto">
  <h2 mat-dialog-title>Modification de votre mot de passe</h2>

  <mat-dialog-content>
    <!-- <form> -->
    <div class="auth-form-inputs auth-form-item">
      <div class="auth-form-input">
        <mat-form-field>
          <mat-label>Ancien mot de passe</mat-label>
          <input matInput type="password" placeholder="Ancien mot de passe" [(ngModel)]="oldPassword" required />
        </mat-form-field>
      </div>

      <div class="auth-form-input">
        <mat-form-field>
          <mat-label>Nouveau mot de passe</mat-label>
          <input matInput type="password" placeholder="Mot de passe" [(ngModel)]="newPassword" required />
        </mat-form-field>
      </div>

      <div class="auth-form-input">
        <mat-form-field>
          <mat-label>Confirmer mot de passe</mat-label>
          <input matInput type="password" placeholder="Mot de passe" [(ngModel)]="confirmNewPassword" required />
        </mat-form-field>
      </div>
    </div>

    <div class="auth-form-item auth-form-buttons">
      <button mat-flat-button mat-dialog-close>Annuler</button>
      <button mat-raised-button mat-dialog-close color="primary" type="submit"
        (click)="updatePassword()">Valider</button>
    </div>
    <!-- </form> -->
  </mat-dialog-content>

  <!-- <mat-dialog-actions>
    <button mat-button mat-dialog-close>Annuler</button>
  </mat-dialog-actions> -->
</div>
