<div class="text-center frame darkModeAuto">
  <nav class="breadcrumb">
    <ol>
      <li><mat-icon>home</mat-icon>Accueil</li>
      <li><mat-icon>arrow_right</mat-icon></li>
      <li *ngIf="!sharedMode"><mat-icon>list</mat-icon>Fichiers</li>
      <li *ngIf="sharedMode"><mat-icon>list</mat-icon>Fichiers partagés</li>
    </ol>
  </nav>

  <div style="overflow: auto;">
    <h3 *ngIf="!sharedMode">Vos fichiers</h3>
    <h3 *ngIf="sharedMode">Fichiers partagés</h3>

    <div style="margin: 10px;">
      <!-- display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: max-content;
    flex-direction: row;
    white-space: nowrap;
    gap: 10px;
    padding: 10px; -->
      <form *ngIf="sharedMode">
        <mat-form-field>
          <mat-label>Partagé par</mat-label>
          <mat-select [(value)]="selectedUserSharer" (selectionChange)="onSelectionChange($event)">
            <!-- <mat-option>Partagé par</mat-option> -->
            <mat-option *ngFor="let userSharer of usersSharer" [value]="userSharer">
              {{ userSharer.email }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <!-- <button mat-raised-button class="select-button">
      <select *ngIf="sharedMode" class="select">
        <option>Partagé par</option>
        <option *ngFor="let userSharer of usersSharer" [value]="userSharer.id">{{userSharer.username}}</option>
      </select>
    </button> -->
    </div>

    <table mat-table [dataSource]="filesDataSource" class="table">
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef style="width: 120px;">
          <!-- Checkbox de selection de toutes les ligne -->
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()" *ngIf="isSelectionVisible()">
          </mat-checkbox>
          <!-- Bouton 3 points affichage actions -->
          <button mat-icon-button *ngIf="selection.hasValue()" (click)="showActions(selection)"
            [matMenuTriggerFor]="actionsMenu" style="vertical-align: middle;">
            <mat-icon>more_horiz</mat-icon>
          </button>
          <mat-menu #actionsMenu="matMenu">
            <button mat-menu-item (click)="downloadFiles(selection)" *ngIf="hasDownloadRight()">
              <mat-icon color="primary" [matBadge]="selection.selected.length" matBadgeColor="primary"
                matBadgeSize="small">download</mat-icon>Télécharger
            </button>
            <button mat-menu-item (click)="deleteFiles(selection)" *ngIf="hasDeleteRight()">
              <mat-icon color="warn" [matBadge]="selection.selected.length" matBadgeColor="warn"
                matBadgeSize="small">delete</mat-icon>Supprimer
            </button>
          </mat-menu>
        </th>
        <td mat-cell *matCellDef="let row">
          <!-- Checkbox de selection de la ligne -->
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)" *ngIf="isSelectionVisible()">
          </mat-checkbox>
        </td>
        <!-- Empty footer column -->
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- Nom -->
      <ng-container matColumnDef="label">
        <th mat-header-cell *matHeaderCellDef>Nom</th>
        <td mat-cell *matCellDef="let file">{{ file.name }}</td>

        <td mat-footer-cell *matFooterCellDef>
          <ng-container *ngIf="!sharedMode || selectedUserSharer">
            <input hidden type="file" (change)="addFile($event)" multiple="multiple" enctype='multipart/form-data'
              #fileInput>
            <button mat-raised-button color="primary" (click)="fileInput.click()" *ngIf="hasAddFileRight()">
              <mat-icon>add</mat-icon>Ajouter un fichier
            </button>
            <span *ngIf="fileInput.files && fileInput.files.length" style="margin-left: 10px;">{{
              fileInput.files[0].name + (fileInput.files.length > 1 ? '...' : '') }}</span>
          </ng-container>
        </td>
      </ng-container>

      <!-- Date de création -->
      <ng-container matColumnDef="credate">
        <th mat-header-cell *matHeaderCellDef>Date de création</th>
        <td mat-cell *matCellDef="let file">{{ file.creationDate | date: 'short' }}</td>
        <!-- <td mat-footer-cell *matFooterCellDef>restant</td> -->
      </ng-container>

      <!-- Date de modification -->
      <ng-container matColumnDef="editdate">
        <th mat-header-cell *matHeaderCellDef>Date de modification</th>
        <td mat-cell *matCellDef="let file">{{ file.modificationDate | date: 'medium' }}</td>
      </ng-container>

      <!-- Check hash button -->
      <ng-container matColumnDef="btn_check" style="max-width: 65px;width: 65px;">
        <th mat-header-cell *matHeaderCellDef style="width: 0;"></th>
        <td mat-cell *matCellDef="let file">
          <button mat-mini-fab (click)="checkFileHash(file)" aria-label="test" *ngIf="hasCheckHashRight()">
            <mat-icon>check</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Download button -->
      <ng-container matColumnDef="btn_download" style="max-width: 65px;width: 65px;">
        <th mat-header-cell *matHeaderCellDef style="width: 0;"></th>
        <td mat-cell *matCellDef="let file">
          <button mat-mini-fab color="primary" (click)="downloadFile(file)" *ngIf="hasDownloadRight()">
            <mat-icon>download</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Delete button -->
      <ng-container matColumnDef="btn_del" style="max-width: 65px;width: 65px;">
        <th mat-header-cell *matHeaderCellDef style="width: 0;"></th>
        <td mat-cell *matCellDef="let file">
          <button mat-mini-fab color="warn" (click)="deleteFile(file)" *ngIf="hasDeleteRight()">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Add line button -->
      <!-- <ng-container matColumnDef="add_file">
        <th mat-footer-cell *matFooterCellDef></th>
        <td mat-footer-cell>
          <button mat-flat-button>Ajouter un fichier</button>
        </td>
      </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <!-- <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr> -->
      <tr mat-footer-row *matFooterRowDef="['select', 'label']"></tr>
    </table>

  </div>

  <!-- <mat-divider style="margin: 15px 0;"></mat-divider> -->

  <!-- No row label -->
  <!--  <div style="margin-top: 10px;" *ngIf="!filesRequestsNotValidated.data.length">
      <div [ngSwitch]="filterNotValidated">
        <div *ngSwitchCase="'inprogress'">Aucune demande de congés en cours</div>
        <div *ngSwitchCase="'validated'">Aucune demande de congés validée</div>
        <div *ngSwitchCase="'invalidated'">Aucune demande de congés refusée</div>
        <div *ngSwitchDefault>Aucune demande de congés</div>
      </div>
    </div>
    <mat-divider style="margin-top: 10px;" *ngIf="!filesRequestsNotValidated.data.length"></mat-divider>

    <!-- Paginator -->
  <!--  <mat-paginator [pageSizeOptions]="[5, 10, 20]" #paginator showFirstLastButtons></mat-paginator>
  </div> -->

</div>
