<div id="center" class="text-center">
  <div class="form frame darkModeAuto">
    <h3>Votre compte</h3>

    <!-- Nom d'utilisateur -->
    <p>
      <mat-form-field [floatLabel]="'always'">
        <mat-label>Nom d'utilisateur</mat-label>
        <input matInput type="text" [value]="this.user.username" readonly />
      </mat-form-field>
    </p>

    <!-- Date création compte -->
    <p>
      <mat-form-field [floatLabel]="'always'">
        <mat-label>Date création compte</mat-label>
        <input matInput type="text"
          [value]="user.creationDate ? (user.creationDate | date: 'dd/MM/YYYY HH:mm:ss' : 'GMT') : 'Aucune'" readonly />
      </mat-form-field>
    </p>

    <!-- Rôles -->
    <p>
      <mat-form-field [floatLabel]="'always'">
        <mat-label>Rôles</mat-label>
        <input matInput type="text" [value]="getRoles()" readonly />
      </mat-form-field>
    </p>

    <!-- Offre -->
    <p>
      <mat-form-field [floatLabel]="'always'">
        <mat-label>Offre souscrite</mat-label>
        <input matInput type="text" [value]="user.offer ? user.offer : 'Aucune'" readonly />
      </mat-form-field>
    </p>

    <!-- Modification mot de passe -->
    <p>
      <button mat-stroked-button (click)="openPopupEditPassword()">Modifier votre mot de passe</button>
    </p>
  </div>
</div>
