<div class="frame darkModeAuto">
  <h3 class="text-center">Conditions générales de vente</h3>

  <!-- <pre style="font-size: 1rem;">
    Conditions Générales de Vente (CGV) - Tuxit Cloud Informatique
    Les présentes Conditions Générales de Vente (ci-après désignées "CGV") régissent l'utilisation des services du cloud informatique fournis par Tuxit (ci-après désigné le "Fournisseur") à ses clients (ci-après désignés "le Client" ou "les Clients"). En acceptant ces CGV, le Client accepte les termes et conditions ci-dessous.
    1. Définitions
    Dans le cadre de ces CGV, les termes suivants auront les significations suivantes :
    •	Service(s) : Désigne le ou les services de cloud informatique fournis par le Fournisseur au Client, conformément aux présentes CGV.
    •	Utilisateur(s) : Désigne les employés, sous-traitants ou toute autre personne autorisée par le Client à utiliser les Services.
    2. Description des Services
    Le Fournisseur fournit au Client des services de cloud informatique, notamment le stockage de données, la mise en réseau, la virtualisation, et d'autres services liés à l'informatique en nuage, tels que décrits dans les documents commerciaux pertinents.
    3. Utilisation des Services
    3.1. Le Client s'engage à utiliser les Services conformément aux lois applicables, aux réglementations en vigueur, et aux présentes CGV.
    3.2. Le Client est responsable de l'utilisation des Services par ses Utilisateurs et de la sécurité de leurs identifiants et mots de passe.
    4. Paiement
    4.1. Le Client accepte de payer les frais liés aux Services, conformément aux tarifs en vigueur et aux modalités de paiement convenus entre les parties.
    5. Confidentialité
    5.1. Le Fournisseur s'engage à protéger la confidentialité des données du Client conformément à sa politique de confidentialité.
    5.2. Le Client s'engage à ne pas divulguer d'informations confidentielles concernant le Fournisseur et à respecter les droits de propriété intellectuelle associés aux Services.
    6. Durée et Résiliation
    6.1. Les Services sont fournis pour la durée convenue entre les parties. Les modalités de résiliation sont définies dans un accord distinct ou dans la proposition commerciale.
    7. Responsabilité
    7.1. Le Fournisseur ne sera pas responsable des pertes de données ou de la disponibilité des Services en cas de force majeure ou de circonstances indépendantes de sa volonté.
    7.2. La responsabilité globale du Fournisseur est limitée au montant des frais payés par le Client pour les Services au cours des douze (12) mois précédents.
    8. Modification des CGV
    8.1. Le Fournisseur se réserve le droit de modifier ces CGV moyennant un préavis raisonnable au Client.
    9. Droit Applicable et Juridiction
    9.1. Ces CGV sont régies par la législation en vigueur dans la juridiction du Fournisseur, et tout litige relatif à ces CGV sera soumis à la juridiction exclusive des tribunaux compétents de cette juridiction.
    En acceptant ces CGV, le Client reconnaît avoir lu, compris et accepté toutes les modalités et conditions énoncées dans ce document.
  </pre> -->

  <div id="cgv-content">
    <h3>Conditions Générales de Vente (CGV) - Tuxit Cloud Informatique</h3>
    <p>Les présentes Conditions Générales de Vente (ci-après désignées "CGV") régissent l'utilisation des services du
      cloud informatique fournis par Tuxit (ci-après désigné le "Fournisseur") à ses clients (ci-après désignés "le
      Client" ou "les Clients"). En acceptant ces CGV, le Client accepte les termes et conditions ci-dessous.</p>
    <p>
      1. Définitions<br>
      Dans le cadre de ces CGV, les termes suivants auront les significations suivantes :<br>
      • Service(s) : Désigne le ou les services de cloud informatique fournis par le Fournisseur au Client, conformément
      aux présentes CGV.<br>
      • Utilisateur(s) : Désigne les employés, sous-traitants ou toute autre personne autorisée par le Client à utiliser
      les Services.
    </p>
    <p>
      2. Description des Services
      Le Fournisseur fournit au Client des services de cloud informatique, notamment le stockage de données, la mise en
      réseau, la virtualisation, et d'autres services liés à l'informatique en nuage, tels que décrits dans les
      documents
      commerciaux pertinents.
    </p>
    <p>
      3. Utilisation des Services
      <br>
      3.1. Le Client s'engage à utiliser les Services conformément aux lois applicables, aux réglementations en vigueur,
      et aux présentes CGV.
      <br>
      3.2. Le Client est responsable de l'utilisation des Services par ses Utilisateurs et de la sécurité de leurs
      identifiants et mots de passe.
    </p>
    <p>
      4. Paiement
      <br>
      4.1. Le Client accepte de payer les frais liés aux Services, conformément aux tarifs en vigueur et aux modalités
      de
      paiement convenus entre les parties.
    </p>
    <p>
      5. Confidentialité
      <br>
      5.1. Le Fournisseur s'engage à protéger la confidentialité des données du Client conformément à sa politique de
      confidentialité.
      <br>
      5.2. Le Client s'engage à ne pas divulguer d'informations confidentielles concernant le Fournisseur et à respecter
      les droits de propriété intellectuelle associés aux Services.
    </p>
    <p>
      6. Durée et Résiliation
      <br>
      6.1. Les Services sont fournis pour la durée convenue entre les parties. Les modalités de résiliation sont
      définies
      dans un accord distinct ou dans la proposition commerciale.
    </p>
    <p>
      7. Responsabilité
      <br>
      7.1. Le Fournisseur ne sera pas responsable des pertes de données ou de la disponibilité des Services en cas de
      force majeure ou de circonstances indépendantes de sa volonté.
      <br>
      7.2. La responsabilité globale du Fournisseur est limitée au montant des frais payés par le Client pour les
      Services
      au cours des douze (12) mois précédents.
    </p>
    <p>
      8. Modification des CGV
      <br>
      8.1. Le Fournisseur se réserve le droit de modifier ces CGV moyennant un préavis raisonnable au Client.
    </p>
    <p>
      9. Droit Applicable et Juridiction
      9.1. Ces CGV sont régies par la législation en vigueur dans la juridiction du Fournisseur, et tout litige relatif
      à
      ces CGV sera soumis à la juridiction exclusive des tribunaux compétents de cette juridiction.
    </p>
    <b>En acceptant ces CGV, le Client reconnaît avoir lu, compris et accepté toutes les modalités et conditions
      énoncées
      dans ce document.</b>
  </div>
</div>
